<!DOCTYPE html>
<html>
  <head>
    <title>top</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="top-background">
    <div class="top-inner-text">
      <span>Recordi</span>
    </div>
    <div id="button-container" class="button">
      <a href="/users/sign_up">SIGN UP</a>
      <a href="/users/sign_in">LOGIN</a>
    </div>
  </body>
</html>