<!DOCTYPE html>
<html>
  <head>
    <title>top</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="top-inner-text">
      <span>Recordi</span>
    </div>

    <div class="text-center mb-5">
      <span>Recordiとは？</span><br>
      <span>思い出の記録・評価・共有ができるアプリです</span><br>
      <span>Recordiは、</span>
    </div>

    <div id="button-container" class="button mb-3">
      <a class="signup-margin" href="/users/sign_up">SIGN UP</a>
      <a class="login-margin" href="/users/sign_in">LOGIN</a>
    </div>
  </body>
</html>