<!DOCTYPE html>
<html>
  <head>
    <title>top</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="top-inner-text">
      <span>Recordi </span>
    </div>
    <div id="button-container" class="button">
      <a href="#">SIGN UP</a>
      <a href="#">LOGIN</a>
    </div>
  </body>
</html>