<h2>今日は休日です! 思い出を残しましょう！</h2>
<span>今日の予定はお決まりですか？小さなことでもかまいません、行動して思い出をRecordiに記録しましょう!</span>

<h3 class="top-body-1">Recordiで思い出を記録する<br>↓</h3>
<p><a href="https://recordi.jp/memories/new">思い出を記録する</a></p>
<br>