<div class="container">
  <section class="text-center container">
    <div class="row all-memories-title">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">ポスト一覧</h1>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="col-lg-10 mx-auto">
      <%= render 'post_search_form', q: @q, url: posts_path %>
    </div>
  </div>

  <% if @tag_list.present? %>
    タグリスト
    <div class="tag-container mb-4">
      <% @tag_list.each do |tag|%>
        <div class="tag">
          <i class="fa-sharp fa-solid fa-tag"></i>
          <%= link_to tag.name,search_tag_posts_path(post_tag_id: tag.id) %>
          <%= "(#{tag.posts.count})" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-2">
      <% if @posts.present? %>
        <%= render @posts %>
      <% else %>
        <div class="mb-3">
          <h1>ポストがありません</h1>
        </div>
      <% end %>
    </div>
  </div>
</div>