<div class="carousel-item  active carousel-main-image">
  <%= image_tag "no_memory.png", class: "bd-placeholder-img bd-placeholder-img-lg d-block w-100", width: "800", height: "500", xmlns: "http://www.w3.org/2000/svg", role: "img", preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
</div>