<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="mb-3 mt-4">
        <h1>思い出編集</h1>
      </div>
      <%= render 'form', memory: @memory %>
    </div>
  </div>
</div>