<% content_for(:title, t('.title')) %>
<% set_meta_tags title: t('.title') %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="mb-3 mt-4">
        <h1><%= t('.title') %></h1>
      </div>
      <%= render 'form', memory: @memory %>

      <div class="mb-3">
        <%= link_to "＜ 戻る", "javascript:history.back()", class: "link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
      </div>
    </div>
  </div>
</div>