<% @memories.each do |memory| %>
  <%= memory.day %>
  <div>
    <%= memory.title %>
  </div>
  <div>
    <%= memory.body %>
  </div>
  <div>
    <%= image_tag memory.main_image_url %>
  </div>
<% end %>