.position {
  display: flex;
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.total-box {
  box-sizing: border-box;
  width: 50%;
  margin: 110px 0px 20px 0px;
  align-items: center;
  margin-left: 0.5rem;
}

.slide-posi {
  position: relative; /* 今の位置を基準 */
}

.image-text {
  text-anchor: middle;
  text-align: center;
  font-size: 3rem;
}

.total {
  font-size: 20px;
  margin-left: 0.5rem;
}

.tags {
  margin-left: 0.5rem;
}

.calendar-box {
  box-sizing: border-box;
  width: 50%;
  margin: 0px 0px 20px 0px;
  margin-right: 0.5rem;
}

.day-title-box {
  border-radius: 0.5em;
  padding: 3px;
  line-break: anywhere;
}

.day-title-style {
  background-color: rgb(0 0 0 / 0.5);
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}

@media (max-width: 1050px) {
  .position {
    display: grid;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }

  .total-box {
    width: 100%;
    margin: 30px 0px 20px 0px;
    margin-left: 0rem !important;
  }

  .calendar-box {
    width: 100%;
    margin: 0px 0px 0px 0px;
    margin-right: 0rem !important;
  }

  .slide-posi {
    position: relative; /* 今の位置を基準 */
  }

  .carousel-main-image img {
    height: 500px;
  }
}

@media (max-width: 450px) {
  .position {
    display: grid;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }

  .total-box {
    width: 100%;
    margin: 20px 0px 20px 0px;
    margin-left: 0rem !important;
  }

  .calendar-box {
    width: 100%;
    margin: 0px 0px 0px 0px;
    margin-right: 0rem !important;
  }

  .slide-posi {
    position: relative; /* 今の位置を基準 */
  }

  .carousel-main-image img {
    height: 250px;
  }

  .day-title-style {
    font-size: 15px;
  }
}