.header-position {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #000000;
}

.header-inner {
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-family: 'Times New Roman';
  color: #3cd36c;
  font-size: 2.4rem;
  line-height: 2rem;
  font-weight: 700;
  text-decoration: none;
  display: inline;
}

.header-link {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  padding-left: 70px;
}

.icons {
  align-items: center;
  display:flex;
}

.set-icon {
  color: #ffffff;
  font-size: 1.7em;
}

.user-icon {
  padding-left: 40px;
}

.dropdown-toggle::after {
  color: #ffffff;
  font-size: 20px;
}