.header-style {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.top-header-style {
  box-shadow: 0 .125rem .25rem rgba(46, 229, 157, 0.4);
}

.header-position {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-inner {
  height: 70px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-family: 'Times New Roman';
  color: #3cd36c;
  font-size: 2.4rem;
  line-height: 2rem;
  font-weight: 700;
  text-decoration: none;
  display: inline;
  padding-right: 50px;
}

.header-link {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  margin-left: 40px;
}

.signin-btn {
  margin-left: 1.5rem;
}

.top-header-link {
  color: #3cd36c;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  padding-left: 1.5rem;
}

.icons {
  align-items: center;
  display:flex;
}

.set-icon {
  color: #ffffff;
  font-size: 1.7em;
  padding-right: 60px;
  padding-left: 60px;
}

.user-icon {
  padding-left: 60px;
}

.user-icon-name {
  color: #ffffff;
}

.dropdown-toggle::after {
  color: #ffffff;
  font-size: 20px;
}