.memory-position {
  display: flex;
}

.memory-coloe {
  background-color: #ffff;
}

.body-style {
  box-sizing: border-box;
  width: 40%;
  margin: 60px 0px;
}

.image-box {
  box-sizing: border-box;
  width: 60%;
  margin: 70px 0px;
  display: flex;
  justify-content: center;
  padding-left: 20px;
}

.image-pozi {
  float:left;
}

.right{
  float: right;
}