.post-style {
  height: 260px;
}

.post-p {
  padding-top: 0.7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.post-shadow {
  box-shadow: 0 .155rem .25rem #2ee59d66;
}

.post-bottom-style {
  display:flex;
  align-items: center;
}

.user-style {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.edit-delete-style {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.name_style {
  font-size: 1.2em;
}

.image-scoa {
  display: flex;
}

.image-posi {
  padding-right: 20px;
  border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

.scor-posi {
  padding-left: 20px;
}

.heart-btn {
  font-size: 20px;
}

@media (max-width: 450px) {
  .post-style {
    height: auto;
  }

  .image-scoa {
    display: block;
  }

  .image-posi {
    padding-right: 0px;
    border-right: none;
    margin-bottom: 1rem;
  }

  .scor-posi {
    padding-left: 0px;
  }
}