.post-style {
  height: 260px;
}

.post-p {
  padding-top: 0.7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.post-shadow {
  box-shadow: 0 .155rem .25rem #2ee59d66;
}

.post-bottom-style {
  display:flex;
  align-items: center;
}

.user-style {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.edit-delete-style {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.name_style {
  font-size: 1.2em;
}

.image-posi {
  padding-right: 20px;
}

.scor-posi {
  padding-left: 20px;
}

.heart-btn {
  font-size: 20px;
}

@media (max-width: 450px) {
  .post-style {
    height: auto;
  }
}