.background-2{
  background-image: url('top.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  vertical-align:middle;
  padding: 50px 0;
}

.form-container {
  width: 550px;
  border-radius: 0.75rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f3f3f3;
  border: 1px solid #36C062;
  box-shadow: 0px 0px 50px -15px rgba(46, 229, 157, 0.4);
  position: relative;
  top: 3em;
}

.heading {
  font-family: 'Times New Roman';
  padding-left: 0.8em;
  color: #36C062;
  background-color: transparent;
  letter-spacing: .5em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1.5em;
  text-shadow: inset -1px -1px 1px #36C062;
}

.form-title {
  color: #000000;
  text-align: center;
}

.form-button {
  width: 100%;
  color: #0fd850;
  background-color: #333;
  transition: .5s;
  font-size: 20px;
  outline: none;
  border: none;
  height: 45px;
  border-radius: 5px;
  align-self: flex-end;
  cursor: pointer;
  transition: all ease-in-out .3s;
}

.form-button:hover {
  transition: all ease-in-out .3s;
  background-color: #cff947;
  color: #333;
  cursor: pointer;
}

.password-form-button {
  width: 100%;
  color: #0fd850;
  background-color: #333;
  transition: .5s;
  font-size: 17px;
  outline: none;
  border: none;
  height: 45px;
  border-radius: 5px;
  align-self: flex-end;
  cursor: pointer;
  transition: all ease-in-out .3s;
}

.password-form-button:hover {
  transition: all ease-in-out .3s;
  background-color: #cff947;
  color: #333;
  cursor: pointer;
}

.signup-login-link {
  color: #36C062;
}

.possword-link {
  color: #36C062;
  text-align: center;
}

.google-link {
  text-align: center;
}

@media (max-width: 450px) {
  .form-container {
    width: auto;
    border: 0;
    box-shadow: 0px 0px 0px 0px rgba(46, 229, 157, 0.4);
    top: 0;
  }
}